<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=Pixel_Admin;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<location path="User.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="Task.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="Project.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="Role.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

</configuration>
